---
layout: base
permalink: /index.html
title: 'Common Guide'
description: 'The Common Guide is a community-crafted repository of progressive, inclusive, practical policies and governance practice and ideas for progressive and radical organising.'
blog:
  title: 'Updates'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">Progressive organising just got easier</h1>
      <p class="text-center" style="text-size: var(--size-step-min-2);"><em>(Cut drama by drawing on insights from others learnings &amp; mistakes.)</em></p>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Imagine if you didn't have to write all your policies from scratch?</h2>
      <p>
        The Common Guide is a community-crafted repository of progressive, inclusive, practical policies and governance practice and ideas for progressive and radical community organising. 
      </p>
      <p>  
        Governance work can difficult and dry, but through multi-group collaboration, ethical and social challenges can be translated into guidance for ethical practice. We believe the work should flow on and benefit all!
      </p>
      <p>This is an open-source project running on an creative-commons license. We welcome your contributions.</p>
      <p>
        <button><a href="https://github.com/CommonGuide/commonguide" data-button-variant="primary" class="button">See the repository</a></button>
        <button><a href="/get-started" data-button-variant="secondary" class="button">Get started</a></button>
      </p>
      <p>
        Common.Guide also acts as a portal for the whole community ecosystem to collaborate on policy and governance design. This increases the capacity, knowledge, and the access to ideas and is a cool instance of building our Solidarity Economy.
        We use fancy Version Control Systems to track changes to our policy templates over time, and offer variations for different particular use cases. 
        <br>
        <strong>See our managed curations below or (link) explore others!</strong>
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
